body {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #eee;
	background-color: #111;
}

.container {
	width: 90%;
	overflow-x: auto;
}

tr td {
	color: #111;
}

.na {
	background-color: gray;
}

.ok {
	background-color: greenyellow;
}

.notok {
	background-color: red;
}

.now {
	background-color: yellow;
}
