body {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #eee;
	background-color: #111;
}

.container {
	width: 90%;
	overflow-x: auto;
}

tr td {
	color: #111;
}

.na {
	padding-left: 0px !important;
	padding-right: 100px !important;
	background-color: gray;
}

.ok {
	padding: 10px !important;
	background-color: greenyellow;
}

.notok {
	padding: 10px !important;
	background-color: red;
}

.now {
	padding: 10px !important;
	background-color: yellow;
}

a:link {
	color: #111;
}

a:visited {
	color: #111;
}

a:hover {
	color: hotpink;
}

a:active {
	color: #111;
} 
