@page
@model IndexModel

<h1>Jira Worklog</h1>
<hr />

<div class="row">
	<h2>Someone</h2>
	<table class="table">
		<thead>
			<tr>
				<th>head1</th>
				<th>head2</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:gray">n/a</td>
				<td style="background-color:red">wrong</td>
				<td style="background-color:greenyellow">ok</td>
				<td style="background-color:yellow">today</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h2>Someone</h2>
	<table class="table">
		<thead>
			<tr>
				<th>head1</th>
				<th>head2</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
				<th>head3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="na">n/a</td>
				<td class="notok">wrong</td>
				<td class="ok">ok</td>
				<td class="now">today</td>
				<td class="ok">3h/<a href="http://google.com">pnp1234</a><br />3h/<a href="http://google.com">pnp1234</a></td>
			</tr>
		</tbody>
	</table>
</div>
