@model JiraWorklog.Pages.PersonModel

<div class="row">
	<h3>@Html.Raw(Model.Person)</h3>
	<table class="table-bordered">
		<thead>
			<tr>
				@foreach (var dateTime in Model.DateTimes)
				{
					<th>@dateTime.Day.ToString("00")/@dateTime.Month.ToString("00")</th>
				}
				<th>Total&nbsp;time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				@foreach (var dateTime in Model.DateTimes)
				{
					<td class="@Model.GetClass(dateTime)">@Html.Raw(Model.GetWorklog(dateTime))</td>
				}
				<td class="totalhours">6h:&nbsp;@Model.Hours6<br />8h:&nbsp;@Model.Hours8</td>
			</tr>
		</tbody>
	</table>
</div>
